@import "variables";

body {
  font-family: $default-font;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
}

.sp {
  padding-top: 80px;
  padding-bottom: 80px;
}

.sp-top {
  padding-top: 80px;
}

.sp-bottom {
  padding-bottom: 80px;
}