<div class="ui sticky inverted menu rounded-0 mb-0" style="height: 50px">
    <div class="container">
        <a href="#" class="header item">
{#            <h3>Hacksprint</h3>#}
            <img src="https://hrcdn.net/fcore/assets/brand/h_mark_sm-966d2b45e3.svg" alt="">
        </a>
        <a href="#" class="item">Challenges</a>
        <a href="#" class="item">Practice</a>
        <a href="#" class="item">Jobs</a>

        <div class="right menu align-items-center">
            <div class="item">
                <div class="ui transparent inverted icon input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Search">
                </div>
            </div>
            <a href="#" class="item" style="height: 100%">
                <i class="bell icon m-0"></i>
            </a>
            <div class="ui simple dropdown item">
                <img src="https://he-s3.s3.amazonaws.com/media/avatars/shakil16/resized/30/6dd0c83shakil.jpg" alt="">
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="#">Profile</a>
                    <a class="item" href="#">Settings</a>
                    <a class="item" href="#">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>