{% extends 'userpanel/base.html' %}
{% load static %}

{% block meta %}
    <title>Jobs | Hacksprint</title>
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
    <section class="jobs pt-4">
        <div class="container">
            <div class="section-title">
                <h2>Jobs</h2>
            </div>
            <div class="mt-1">
                <div class="ui placeholder">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
{% endblock %}