{% extends 'userpanel/base.html' %}
{% load static %}

{% block meta %}
    <title>Dashboard | Hacksprint</title>
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
    <div class="container">
            <div class="ui two column grid pb-5 pt-4">
                <div class="twelve wide column">
                    <div class="tracks">
                        <div class="section-title">
                            <h2>All Tracks</h2>
                        </div>
                        <div class="ui three cards mt-1">
                            <div class="card">
                                <div class="content">
                                    <div class="ui two column grid">
                                        <div class="six wide column pr-0">
                                            <img src="{% static 'userpanel/img/web.jpg' %}" alt="web" class="img-fluid"
                                                 style="width: 100%; height: auto">
                                        </div>
                                        <div class="ten wide column">
                                            <h4 class="mb-2">Web Development</h4>
                                            <div class="description">
                                                Elliot Fu is a film-maker from New York.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="content">
                                    <div class="ui two column grid">
                                        <div class="six wide column pr-0">
                                            <img src="{% static 'userpanel/img/mobile.jpg' %}" alt="mobile"
                                                 class="img-fluid"
                                                 style="width: 100%; height: auto">
                                        </div>
                                        <div class="ten wide column">
                                            <h4 class="mb-2">Mobile Development</h4>
                                            <div class="description">
                                                Elliot Fu is a film-maker from New York.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="content">
                                    <div class="ui two column grid">
                                        <div class="six wide column pr-0">
                                            <img src="{% static 'userpanel/img/ds.jpg' %}" alt="web" class="img-fluid"
                                                 style="width: 100%; height: auto">
                                        </div>
                                        <div class="ten wide column">
                                            <h4 class="mb-2">Data Science</h4>
                                            <div class="description">
                                                Elliot Fu is a film-maker from New York.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="content">
                                    <div class="ui two column grid">
                                        <div class="six wide column pr-0">
                                            <img src="{% static 'userpanel/img/game.jpg' %}" alt="game"
                                                 class="img-fluid"
                                                 style="width: 100%; height: auto">
                                        </div>
                                        <div class="ten wide column">
                                            <h4 class="mb-2">Game Development</h4>
                                            <div class="description">
                                                Elliot Fu is a film-maker from New York.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="content">
                                    <div class="ui two column grid">
                                        <div class="six wide column pr-0">
                                            <img src="{% static 'userpanel/img/ui-1.jpg' %}" alt="ui" class="img-fluid"
                                                 style="width: 100%; height: auto">
                                        </div>
                                        <div class="ten wide column">
                                            <h4 class="mb-2">UI/UX Design</h4>
                                            <div class="description">
                                                Elliot Fu is a film-maker from New York.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="content">
                                    <div class="ui two column grid">
                                        <div class="six wide column pr-0">
                                            <img src="{% static 'userpanel/img/security.jpg' %}" alt="web"
                                                 class="img-fluid"
                                                 style="width: 100%; height: auto">
                                        </div>
                                        <div class="ten wide column">
                                            <h4 class="mb-2">Cyber Security</h4>
                                            <div class="description">
                                                Elliot Fu is a film-maker from New York.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="four wide column">
                    <div class="img mt-5">
                        <img src="https://s3-ap-southeast-1.amazonaws.com/he-public-data/microsoft-azure-java-hackathon-banner911008a.png"
                             width="100%">
                    </div>
                    <div class="ui vertical menu w-100">
                        <a class="item">
                            <h4 class="ui header">Promotions</h4>
                            <p>Check out our new promotions</p>
                        </a>
                        <a class="item">
                            <h4 class="ui header">Coupons</h4>
                            <p>Check out our collection of coupons</p>
                        </a>
                        <a class="item">
                            <h4 class="ui header">Rebates</h4>
                            <p>Visit our rebate forum for information on claiming rebates</p>
                        </a>
                        <a class="item">
                            <h4 class="ui header">Contest</h4>
                            <p>Visit our rebate forum for information on claiming rebates</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
{% endblock %}