{% load static %}

<!--   Core JS Files   -->
<script src="{% static 'adminpanel/js/core/jquery.3.2.1.min.js' %}"></script>
<script src="{% static 'adminpanel/js/core/popper.min.js' %}"></script>
<script src="{% static 'adminpanel/js/core/bootstrap.min.js' %}"></script>

<!-- jQuery UI -->
<script src="{% static 'adminpanel/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
<script src="{% static 'adminpanel/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js' %}"></script>

<!-- jQuery Scrollbar -->
<script src="{% static 'adminpanel/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>


<!-- Chart JS -->
<script src="{% static 'adminpanel/js/plugin/chart.js/chart.min.js' %}"></script>

<!-- jQuery Sparkline -->
<script src="{% static 'adminpanel/js/plugin/jquery.sparkline/jquery.sparkline.min.js' %}"></script>

<!-- Chart Circle -->
<script src="{% static 'adminpanel/js/plugin/chart-circle/circles.min.js' %}"></script>

<!-- Datatables -->
<script src="{% static 'adminpanel/js/plugin/datatables/datatables.min.js' %}"></script>

<!-- Bootstrap Notify -->
<script src="{% static 'adminpanel/js/plugin/bootstrap-notify/bootstrap-notify.min.js' %}"></script>

<!-- jQuery Vector Maps -->
<script src="{% static 'adminpanel/js/plugin/jqvmap/jquery.vmap.min.js' %}"></script>
<script src="{% static 'adminpanel/js/plugin/jqvmap/maps/jquery.vmap.world.js' %}"></script>

<!-- Sweet Alert -->
<script src="{% static 'adminpanel/js/plugin/sweetalert/sweetalert.min.js' %}"></script>

<!-- Atlantis JS -->
<script src="{% static 'adminpanel/js/atlantis.min.js' %}"></script>
<script src="{% static 'adminpanel/js/main.js' %}' %}"></script>