{% load static %}

<div class="sidebar sidebar-style-2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-primary">
                <li class="nav-item">
                    <a href="{% url 'adminpanel' %}">
                        <i class="fas fa-layer-group"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/challenges/">
                        <i class="fas fa-atom"></i>
                        <p>Challenges</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'tracks' %}">
                        <i class="fas fa-laptop-code"></i>
                        <p>Practice</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/jobs/">
                        <i class="fas fa-file-signature"></i>
                        <p>Jobs</p>
                    </a>
                </li>
                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'admin-users' %}">
                            <i class="fas fa-user"></i>
                            <p>Users</p>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'admin-settings' %}">
                        <i class="fas fa-cog"></i>
                        <p>Settings</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>