{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  {% include 'adminpanel/partials/styles.html' %}
  {% block styles %}
    <style type="text/css">
        body {
            background-color: #DADADA;
        }


    </style>
  {% endblock %}
</head>
<body>

  <div class="container pt-5">
      <div class="row justify-content-center pt-5">
        <div class="col-lg-5 col-md-7 pt-5">
          <div class="card border-0 mb-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <h2 class="text-primary">Reset Password</h2>                
              </div>
              <form role="form" method="POST" action="{% url 'reset-password' %}">
                  {% csrf_token %}
                  <input name="token" style="display:none" value="{{ request.get_full_path }}">
                <div class="form-group mb-3">
                  <div class="input-group">
                    <input class="form-control" type="password" name="password" placeholder="New Password">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="password" id="password1" placeholder="Confirm Password">
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-2 reset-password">Reset Password</button>
                </div>
                <div class="form-group">
                    <div class="alert alert-danger" id="ins_error" style="display:none">
                    </div>
                </div> 
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>


{% include 'adminpanel/partials/scripts.html' %}
{% block scripts %}
  <script>
      $(document).ready(function () {
          $(document).on("click",".reset-password",function(e) {
              var password = $("input[name='password']").val().trim();
              var password1 = $("#password1").val().trim();

              if ( password == "" || password1 == ""){
                  $("#ins_error").text("All fields are required!");
                  $("#ins_error").show();
                  $("button[type='submit']").prop('disabled', true);
              }           
              else if (password.length < 8)
              {
                  $("#ins_error").text("Password atleast 8 characters!");
                  $("#ins_error").show();
                  $("button[type='submit']").prop('disabled', true);
              }
              else if(password!=password1)
              {
                  $("#ins_error").text("Passwords do not match!");
                  $("#ins_error").show();
                  $("button[type='submit']").prop('disabled', true);               
              }else{
                  $("#ins_error").hide()
                  $("button[type='submit']").prop('disabled', false);
              }
          });

          $(document.body).click( function() {
              $("#ins_error").hide();
              $("button[type='submit']").prop('disabled', false);
          });
      });
  </script>
{% endblock %}
</body>
</html>
