@import "mixins";

// breakpoint variables
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// font variables
$default-font: 'Lato', sans-serif;
$secondary-font: "Akkurat Mono";
$slider-font: 'Poppins', sans-serif;

// color variables
$default-color: #3735a0;
$white: white;