{% extends 'adminpanel/base.html' %}
{% load static %}

{% block meta %}
    <title>Users | Hacksprint</title>
{% endblock %}

{% block body %}
    <div class="wrapper">
        {% include 'adminpanel/partials/navbar.html' %}
        {% include 'adminpanel/partials/sidebar.html' %}
        <div class="main-panel">
            <div class="content">
                <div class="page-inner">
                    <div class="page-header">
                        <h4 class="page-title">Practice</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="#">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Track</a>
                            </li>
                        </ul>
                        <a href={% url 'practice-new' trackID %} class="btn btn-primary btn-border btn-round ml-auto">
                            <i class="fa fa-plus"></i>
                            Add Practice
                        </a>

                        <a href={% url 'subdomain-new' trackID %} class="btn btn-primary btn-border btn-round">
                            <i class="fa fa-plus"></i>
                            Add SubDomain
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header no-bd">
                                                    <h5 class="modal-title">
														<span class="fw-mediumbold">
														New</span>
                                                        <span class="fw-light">
															Practice
														</span>
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="small">Create a new Practice using this form, make sure you
                                                        fill them all</p>
                                                    <form method="POST" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group form-group-default">
                                                                    <label>Title</label>
                                                                    <input id="addTitle" type="text"
                                                                           class="form-control" name="title">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <div class="form-group form-group-default">
                                                                    <label>Subdomain</label>
                                                                    <select name="" id="" class="form-control" multiple size="6">
                                                                        <option value="">Template</option>
                                                                        <option value="">Style</option>
                                                                        <option value="">Script</option>
                                                                        <option value="">Database</option>
                                                                        <option value="">Deployment</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group form-group-default">
                                                                    <label>Description</label>
                                                                    <textarea id="addDescription" type="text"
                                                                              class="form-control"
                                                                              rows="5"
                                                                              cols="30"
                                                                              name="body"
                                                                    ></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer no-bd">
                                                            <button type="submit" id="addTrackButton"
                                                                    class="btn btn-primary">
                                                                Add
                                                            </button>
                                                            <button type="button" class="btn btn-danger"
                                                                    data-dismiss="modal">
                                                                Close
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-hover mt-3">
                                        <thead>
                                        <tr>
                                            <th scope="col">Title</th>
                                            <th scope="col">Tags</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for practice in practices %}
                                            <tr>
                                                <td><strong><a href={% url 'single-practice' practice.id %}>{{ practice.title }}</a></strong></td>
                                                <td>Some, Tags</td>
                                                <td>
                                                    <a href="{% url 'practice-action' 'edit' practice.id %}"
                                                       class="btn btn-primary" style="padding: .65rem 1.2rem">
                                                        <i class="fas fa-user-edit"></i>
                                                    </a>
                                                    <a href="{% url 'practice-action' 'delete' practice.id %}"
                                                       class="btn btn-danger">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'adminpanel/partials/footer.html' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}