{% extends 'adminpanel/base.html' %}
{% load static %}

{% block meta %}
    <title>Edit Practice | Hacksprint</title>
{% endblock %}

{% block styles %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="wrapper">
        {% include 'adminpanel/partials/navbar.html' %}
        {% include 'adminpanel/partials/sidebar.html' %}
        <div class="main-panel">
            <div class="content">
                <div class="page-inner">
                    <div class="page-header">
                        <h4 class="page-title">Edit Practice</h4>
                    </div>
                    <div class="row">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3"><input type="text" name="title" value="{{ practice.title }}"
                                                     class="form-control" placeholder="Title"></div>
                            <div class="mb-3">
                                <select name="difficulty" class="form-control" id="Difficulty">
                                    {% if practice.difficulty == "1" %}
                                        <option value="1" selected> One</option>
                                    {% else %}
                                        <option value="1"> One</option>
                                    {% endif %}

                                    {% if practice.difficulty == "2" %}
                                        <option value="2" selected> Two</option>
                                    {% else %}
                                        <option value="2"> Two</option>
                                    {% endif %}

                                    {% if practice.difficulty == "3" %}
                                        <option value="3" selected> Three</option>
                                    {% else %}
                                        <option value="3"> Three</option>
                                    {% endif %}
                                    {% if practice.difficulty == "4" %}
                                        <option value="4" selected> Four</option>
                                    {% else %}
                                        <option value="4"> Four</option>
                                    {% endif %}
                                    {% if practice.difficulty == "5" %}
                                        <option value="5" selected> Five</option>
                                    {% else %}
                                        <option value="5">Five</option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="mb-3"><input type="text" name="description" value="{{ practice.description }}"
                                                     class="form-control" placeholder="Description"></div>
                            {{ form.media }}
                            {{ form }} <br> <br>
                            <h4>Subdomains:</h4>
                            {% for s in sub %}
                                <input type="checkbox" name="{{ s.title }}" value="{{ s.title }}" {% if s in subdomains %} checked {% endif %}> {{ s.title }} <br>
                            {% endfor %}

                            <div class="text-right">
                                <input type="submit" value="Save" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% include 'adminpanel/partials/footer.html' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}