{% extends 'adminpanel/base.html' %}
{% load static %}

{% block meta %}
    <title>Profile | Hacksprint</title>
{% endblock %}

{% block body %}
    <div class="wrapper">
        {% include 'adminpanel/partials/navbar.html' %}
        {% include 'adminpanel/partials/sidebar.html' %}
        <div class="main-panel">
            <div class="content">
                <div class="page-inner">
                    <div class="page-header">
                        <h4 class="page-title">Profile</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="#">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Profile</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="row align-items-center">
                            <div class="col-md-6 col-xl-3">
                                <img src="{% static 'adminpanel/img/user-profile.jpg' %}" class="figure-img img-fluid rounded" alt="...">
                            </div>
                            <div class="col-md-12 col-xl-5">
                                <h1 class="d-inline-block font-weight-normal">{{ user.first_name }} {{ user.last_name }}</h1>
                                <p>Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit donec sed odio dui. </p>
                                <div class="row my-4">
                                    <div class="col-sm-6">
                                        <a href="mailto:ashoka@galactic.com">
                                        <h5 class="text-h-primary mb-3">{{ user.email }}</h5>
                                        </a>
                                        <h5 class="mb-3">Product Design</h5>
                                    </div>
                                    <div class="col-sm-6">
                                       <h5 class="mb-3">Chicago</h5>
                                       <h5 class="mb-3">Administrator</h5>
                                    </div>
                                </div>
                                <button class="btn btn-primary">Send Message</button>
                            </div>
                            <div class="col-md-12 col-xl-4">
                               <h6 class="mb-3 text-uppercase text-body f-12">team</h6>
                               <div class="media mb-5">
                                  <span class="avtar avtar-icon avtar-square "><img src="{% static 'adminpanel/img/logo-mailchimp.svg' %}" alt="images" class="img-fluid"></span>
                                  <div class="media-body ml-3 align-self-center">
                                    <p class="mb-0 text-truncate">Hacksprint, Inc</p>
                                  </div>
                               </div>
                               <h6 class="mb-3 text-uppercase text-body f-12">team members</h6>
                               <div class="mb-4">
                                  <span class="avtar text-blue-2 bg-blue-1 mr-3 mb-3">DV</span>
                                  <img src="{% static 'adminpanel/img/avatar-2.jpg' %}" alt="images" class="img-fluid avtar mr-3 mb-3">
                                  <img src="{% static 'adminpanel/img/avatar-3.jpg' %}" alt="images" class="img-fluid avtar mr-3 mb-3">
                                  <span class="avtar text-purple-2 bg-purple-1 mr-3 mb-3">CD</span>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'adminpanel/partials/footer.html' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}