<!doctype html>
<html lang="en">
<head>
</head>
<style>
    a.btn {
        padding: 14px 20px 12px;
        background: #0366d6;
        color: white;
        border-radius: 7px;
        font-family: arial;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
    }
</style>
<body>
Hi, <b>{{ user.username }}</b>
Please click on the button to reset your password,
<a href="http://{{ domain }}/reset-password/?token={{ token }}" class="btn">Reset password</a>

If the link doesn't work, click here
http://{{ domain }}/reset-password/?token={{ token }}
</body>
</html>