{% extends 'adminpanel/base.html' %}
{% load static %}

{% block meta %}
    <title>Users | Hacksprint</title>
{% endblock %}

{% block body %}
    <div class="wrapper">
        {% include 'adminpanel/partials/navbar.html' %}
        {% include 'adminpanel/partials/sidebar.html' %}
        <div class="main-panel">
            <div class="content">
                <div class="page-inner">
                    <div class="page-header">
                        <h4 class="page-title">Users</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="#">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Users</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row" id="upt">
                        <div class="col-md-12">
                            <div class="alert alert-success" id="upt_success" style="display:none">

                            </div>
                            <div class="alert alert-danger" id="upt_error" style="display:none">

                            </div>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex align-items-center">
                                        <h4 class="card-title">Add User</h4>
                                        <button class="btn btn-primary btn-round ml-auto" data-toggle="modal"
                                                data-target="#addRowModal">
                                            <i class="fa fa-plus"></i>
                                            Add User
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">

                                    <!--User Add Modal -->
                                    <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header no-bd">
                                                    <h5 class="modal-title">
														<span class="fw-mediumbold">
														New</span>
                                                        <span class="fw-light">
															User
														</span>
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-row container">
                                                    <form class="container addUser">
                                                        <p class="small mb-3">Create a new user!<br>Make sure you
                                                            fill them all</p>
                                                        <div class="form-row justify-content-center">
                                                            <div class="col-md-6 mb-3">
                                                                <label for="firstName" >First Name</label>
                                                                <input type="text" class="form-control form-control-sm" id="firstName" required>
                                                            </div>
                                                            <div class="col-md-6 mb-3">
                                                                <label for="lastName" >Last Name</label>
                                                                <input type="text" class="form-control form-control-sm" id="lastName" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-row justify-content-center">
                                                            <div class="col-md-12 mb-3">
                                                                <label for="email" >Email</label>
                                                                <input type="email" class="form-control form-control-sm" id="email" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-row justify-content-center">
                                                            <div class="col-md-12 mb-3">
                                                                <label for="userName" >Username</label>
                                                                <div class="input-group">
                                                                    <div class="input-group-prepend input-group-prepend-sm">
                                                                    <div class="input-group-text input-group-text-sm">@</div>
                                                                    </div>
                                                                    <input type="text" class="form-control form-control-sm" id="userName" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row justify-content-center">
                                                            <div class="col-md-12 mb-3">
                                                                <label for="password1">Password</label>
                                                                <input type="password" class="form-control form-control-sm" id="password1" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-row justify-content-center">
                                                            <div class="col-md-12 mb-3">
                                                                <label for="password2">Confirm Password</label>
                                                                <input type="password" class="form-control form-control-sm" id="password2"required>
                                                            </div>
                                                        </div>   
                                                
                                                        <div class="form-group">
                                                            <div class="alert alert-success" id="ins_success" style="display:none">

                                                            </div>
                                                            <div class="alert alert-danger" id="ins_error" style="display:none">

                                                            </div>
                                                        </div>
                                                        <div class="modal-footer no-bd">
                                                            <button type="submit" id="addUserButton" class="btn btn-primary">
                                                                Add
                                                            </button>
                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                                Close
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <!--End of User Add Modal--> 

                                    <!--User Edit Modal -->
                                    <div class="modal fade" id="editRowModal" tabindex="-1" role="dialog"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header no-bd">
                                                    <h5 class="modal-title">
														<span class="fw-mediumbold">
														Edit</span>
                                                        <span class="fw-light">
															User
														</span>
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-row container">
                                                    <form class="container editUser">
                                                        <p class="small mb-3">Edit an existing user!<br>Make sure you
                                                            fill them all</p>
                                                        <div class="form-row justify-content-center">
                                                            <div class="col-md-6 mb-3">
                                                                <label for="firstName" >First Name</label>
                                                                <input type="text" class="form-control form-control-sm" id="firstName" required>
                                                            </div>
                                                            <div class="col-md-6 mb-3">
                                                                <label for="lastName" >Last Name</label>
                                                                <input type="text" class="form-control form-control-sm" id="lastName" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-row justify-content-center">
                                                            <div class="col-md-12 mb-3">
                                                                <label for="email" >Email</label>
                                                                <input type="email" class="form-control form-control-sm" id="email" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-row justify-content-center">
                                                            <div class="col-md-8 mb-3">
                                                                <label for="userName" >Username</label>
                                                                <div class="input-group">
                                                                    <div class="input-group-prepend">
                                                                    <div class="input-group-text">@</div>
                                                                    </div>
                                                                    <input type="text" class="form-control form-control-sm" id="userName"  required>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 mb-3">
                                                                <label for="userRole" >User Role</label>
                                                                <select class="form-control form-control-sm mt-1" id="userRole">                             
                                                                    <option value="member">Member</option>
                                                                    <option value="staff">Moderator</option>
                                                                    <option value="admin">Admin</option>
                                                                </select>
                                                            </div>
                                                        </div> 
                                                
                                                        <div class="form-group">
                                                            <div class="alert alert-success" id="edit_ins_success" style="display:none">

                                                            </div>
                                                            <div class="alert alert-danger" id="edit_ins_error" style="display:none">

                                                            </div>
                                                        </div>
                                                        <div class="modal-footer no-bd">
                                                            <button type="submit" id="editUserButton" class="btn btn-primary">
                                                                Update
                                                            </button>
                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                                Close
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--End of User Edit Modal-->  

                                    <div class="table-responsive">
                                        <table id="add-row" class="display table table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Username</th>
                                                <th>User Role</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for user in users %}
                                            <tr>
                                                <td>{{ user.first_name }} {{ user.last_name }}</td>
                                                <td>{{ user.email }}</td>
                                                <td>{{ user.username }}</td>
                                                <td>
                                                    {% if user.is_superuser %}
                                                        <b class="text-danger">Admin</b> 
                                                    {% elif user.is_staff %}
                                                        <b class="text-success">Moderator</b>
                                                    {% else %}
                                                        Member
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <div class="btn-group dropleft">
                                                        <button type="button" class="btn btn-info btn-sm dropdown-toggle" id="btn-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-user-cog"></i>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                        {% if user.is_active %}
                                                            <button type="button" class="btn btn-light btn-sm btn-edit dropdown-item" data-toggle="modal" data-target="#editRowModal" id="edit-{{user.id}}" style="padding: .65rem 1.1rem">
                                                                <i class="fas fa-user-edit pr-1"></i> Edit
                                                            </button>
                                                        {% else %}
                                                            <button type="button" class="btn btn-light btn-sm btn-approve dropdown-item" id="approve-{{user.id}}" style="padding: .65rem 1.2rem"><i class="fas fa-hourglass pr-2"></i> Approve</button>
                                                        {% endif %} 
                                                            <button type="button" class="btn btn-light btn-sm btn-delete dropdown-item" id="delete-{{user.id}}" style="padding: .65rem 1.2rem"><i class="fas fa-trash pr-2"></i> Delete</button>
                                                        </div>
                                                    </div>                                                                                                      
                                                       
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'adminpanel/partials/footer.html' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'adminpanel/js/plugin/datatables/datatables.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('#basic-datatables').DataTable({});

            $('#multi-filter-select').DataTable({
                "pageLength": 5,
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select class="form-control"><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });

            // DataTable 
            $('#add-row').DataTable({
                "pageLength": 5,
                "fnDrawCallback": function( oSettings ) {
                    {% for user in users %}
                    {% if user.is_active  %}
                    {% else %}
                    if($(".btn-approve").length){
                        console.log("success")
                    }
                    $(".btn-approve").closest("td").find('button:eq(0)').removeClass("btn-info").addClass("btn-warning");
                    {% endif %}
                    {% endfor %}
                }
            });
           
            // Add New User Submit Button
            $(document).on("click","#addUserButton",function(e) {
                e.preventDefault();
                var firstName = $('#firstName').val();
                var lastName = $('#lastName').val();
                var email = $('#email').val().trim();
                var userName = $('#userName').val().trim().toLowerCase();
                var password1 = $('#password1').val().trim();
                var password2 = $('#password2').val().trim();
                
            if (firstName == "" || lastName == "" || email == "" || userName == "" || password1 == "" || password2 == "")
                {
                    $("#ins_error").text("All Fields are Required!")
                    $("#ins_error").show()
                }
            else if (!(/^[a-zA-Z" "\-]+$/.test(firstName) && /^[a-zA-Z" "\-]+$/.test(lastName)))
                {
                    $("#ins_error").text("Invalid Name!")
                    $("#ins_error").show()
                }
            else if (!/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email))
                {
                    $("#ins_error").text("Invalid email address!")
                    $("#ins_error").show()
                }
            else if (!/^[a-zA-Z0-9_\-.]+$/.test(userName))
                {
                    $("#ins_error").text("Invalid Username!")
                    $("#ins_error").show()
                }
            else if (password1.length <8)
                {
                    $("#ins_error").text("Password atleast 8 characters!")
                    $("#ins_error").show()
                }
            else if(password1!=password2)
                {
                    $("#ins_error").text("Passwords do not match!")
                    $("#ins_error").show()                
                }
            else
                {   
                    $("#addUserButton").attr("disabled","disabled");
                    $("#addUserButton").html("Inserting... Please Wait.."); 

                    $.ajax({
                        type:'POST',
                        url:'{% url 'admin-users' %}',
                        data:{
                            csrfmiddlewaretoken:'{{ csrf_token }}',
                            action: "create-user",
                            firstName: firstName,
                            lastName: lastName,
                            email: email,
                            userName: userName,
                            password: password1,
                        },
                    })
                    .done(function(response){
                        if(response['error']==false){
                            $("#ins_error").hide();
                            $("#ins_success").text(response['errorMessage']);
                            $("#ins_success").show();  

                            var fullName = response['firstName']+' '+response['lastName']                 
                            var user_role = 'Member'
                            var action = '<div class="btn-group dropleft"><button type="button" class="btn btn-info btn-sm btn-action dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-cog"></i></button><div class="dropdown-menu"> <button type="button" class="btn btn-light btn-sm btn-edit dropdown-item" data-toggle="modal" data-target="#editRowModal" id="edit-'+response['id']+'" style="padding: .65rem 1.1rem"><i class="fas fa-user-edit pr-1"></i> Edit</button>  <button type="button" class="btn btn-light btn-sm btn-delete dropdown-item" id="delete-'+response['id']+'" style="padding: .65rem 1.2rem"><i class="fas fa-trash pr-2"></i> Delete</button></div></div>';
                            
                            $('#add-row').dataTable().fnAddData([
                                fullName, 
                                email,
                                userName, 
                                user_role, 
                                action,
                            ]);
                        }
                        else{
                            $("#ins_success").hide();
                            $("#ins_error").text(response['errorMessage']);
                            $("#ins_error").show();
                        }
                    })
                    .fail(function(){
                        $("#ins_success").hide();
                        $("#ins_error").text("Something Went Wrong!");
                        $("#ins_error").show();
                    })
                    .always(function(){
                        $("#addUserButton").removeAttr("disabled");
                        $("#addUserButton").html("Add");
                    })
                $('.addUser').trigger("reset");  
                }
            });

            // Edit Modal Button
            $(document).on("click",".btn-edit",function() {
                var idValue = $(this).attr("id").split("-");
                var id = idValue[1];
                $("#edit-"+id).closest('tr').attr("id", "user-"+id);
                $('#edit-'+id).closest('tr').find('td:eq(0)').attr('id', 'fullName');
                $('#edit-'+id).closest('tr').find('td:eq(1)').attr('id', 'email');
                $('#edit-'+id).closest('tr').find('td:eq(2)').attr('id', 'userName');
                $('#edit-'+id).closest('tr').find('td:eq(3)').attr('id', 'userRole');

                var name = $("#user-"+id+" #fullName").text().split(" ");
                var email = $("#user-"+id+" #email").text();
                var userName = $("#user-"+id+" #userName").text();
                var userRole = $("#user-"+id+" #userRole").text().trim();
                $(".editUser #firstName").val(name[0]);
                $(".editUser #lastName").val(name[1]);
                $(".editUser #email").val(email);
                $(".editUser #userName").val(userName); 
                $(".editUser").attr('id', id);

                if (userRole == "Member"){
                    $(".editUser #userRole option[value='member']").prop('selected',true);
                }
                else if (userRole == "Moderator"){
                    $(".editUser #userRole option[value='staff']").prop('selected',true);
                }
                else if (userRole == "Admin"){
                    $(".editUser #userRole option[value='admin']").prop('selected',true);
                }          
            });
            

            // Edit An Existing User Update Button
            $(document).on("click","form #editUserButton",function(e) {
                e.preventDefault();
                var id = $(".editUser").attr("id");
                var firstName = $('.editUser #firstName').val();
                var lastName = $('.editUser #lastName').val();
                var email = $('.editUser #email').val().trim();
                var userName = $('.editUser #userName').val().trim().toLowerCase();
                var userRole = $('.editUser #userRole').val();

                if (firstName == "" || lastName == "" || email == "" || userName == "")
                {
                    $("#edit_ins_error").text("All Fields are Required!")
                    $("#edit_ins_error").show();                  
                }
                else if (!(/^[a-zA-Z" "\-]+$/.test(firstName) && /^[a-zA-Z" "\-]+$/.test(lastName)))
                    {
                        $("#edit_ins_error").text("Invalid Name!")
                        $("#edit_ins_error").show()
                    }
                else if (!/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email))
                    {
                        $("#edit_ins_error").text("Invalid email address!")
                        $("#edit_ins_error").show()
                    }
                else if (!/^[a-zA-Z0-9_\-.]+$/.test(userName))
                    {
                        $("#edit_ins_error").text("Invalid Username!")
                        $("#edit_ins_error").show()
                    }
                else{                     
                    var action = confirm("Are you sure you want to Update "+ userName +"?");
                    if (action != false) 
                    {
                        $("#editUserButton").attr("disabled","disabled");
                        $("#editUserButton").html("Updating... Please Wait..");
                        
                        $.ajax({
                            type:'POST',
                            url:'{% url 'admin-users' %}',
                            data:{
                                csrfmiddlewaretoken:'{{ csrf_token }}',
                                action: "edit-user",
                                id: id,
                                firstName: firstName,
                                lastName: lastName,
                                email: email,
                                userName: userName,
                                userRole: userRole,
                            },
                        })
                        .done(function(response){
                            if(response['error']==false){
                                $("#edit_ins_error").hide();
                                $("#edit_ins_success").text(response['errorMessage']);
                                $("#edit_ins_success").show();

                                $("#user-"+id+" #fullName").text(firstName+" "+lastName);
                                $("#user-"+id+" #email").text(email);
                                $("#user-"+id+" #userName").text(userName);

                                if (userRole == "member"){
                                    $("#user-"+id+" #userRole").text("Member");
                                }else if(userRole == "staff"){
                                    $("#user-"+id+" #userRole").html("<b class='text-success'>Moderator</b>");
                                }else if(userRole == "admin"){
                                    $("#user-"+id+" #userRole").html("<b class='text-danger'>Admin</b>");
                                }
                                
                            }                           
                            else{
                                $("#edit_ins_success").hide();
                                $("#edit_ins_error").text(response['errorMessage']);
                                $("#edit_ins_error").show();
                            }
                        })
                        .fail(function(){
                            $("#edit_ins_success").hide();
                            $("#edit_ins_error").text("Something Went Wrong!");
                            $("#edit_ins_error").show();
                        })
                        .always(function(){
                            $("#editUserButton").removeAttr("disabled");
                            $("#editUserButton").html("Update");
                        })
                    }
                }
            });

            // Delete User
            $(document).on("click",".btn-delete",function(){
                var idValue = $(this).attr("id").split("-");
                var id = idValue[1];
                $("#delete-"+id).closest('tr').attr("id", "user-"+id);
                $('#delete-'+id).closest('tr').find('td:eq(2)').attr('id', 'userName');
                var userName = $("#user-"+id+" #userName").text();

                var action = confirm("Are you sure you want to Delete "+ userName +"?");
                if (action != false) {

                $.ajax({
                    url:'{% url 'admin-users' %}',
                    type:'POST',
                    data:{
                        csrfmiddlewaretoken:'{{ csrf_token }}',
                        action: "delete-user",
                        id:id
                        },
                })
                .done(function(response){
                    if(response['error']==false){
                        $("#add-row").dataTable().fnDeleteRow($("#user-"+id));
                        $("#upt_error").hide();
                        $("#upt_success").text(response['errorMessage']);
                        $("#upt_success").show();
                    }
                    else{
                        $("#upt_success").hide();
                        $("#upt_error").text(response['errorMessage']);
                        $("#upt_error").show();
                    }
                })
                .fail(function(){
                    $("#upt_success").hide();
                    $("#upt_error").text("Something Went Wrong!");
                    $("#upt_error").show();
                });
                }
            });


            // Approve User
            $(document).on("click",".btn-approve",function(){
                var action = confirm("Are you sure you want to Approve this user?");
                if (action != false) {
                var idValue = $(this).attr("id").split("-");
                var id = idValue[1];

                $.ajax({
                    url:'{% url 'admin-users' %}',
                    type:'POST',
                    data:{
                        csrfmiddlewaretoken:'{{ csrf_token }}',
                        action: "approve-user",
                        id:id
                        },
                })
                .done(function(response){
                    if(response['error']==false){
                        $("#approve-"+id).closest("button").replaceWith('<button class="btn btn-primary btn-edit" data-toggle="modal" data-target="#editRowModal" id="edit-'+id+'" style="padding: .65rem 1.2rem"><i class="fas fa-user-edit"></i></button>')
                        $("#upt_error").hide();
                        $("#upt_success").text(response['errorMessage']);
                        $("#upt_success").show();
                    }
                    else{
                        $("#upt_success").hide();
                        $("#upt_error").text(response['errorMessage']);
                        $("#upt_error").show();
                    }
                })
                .fail(function(){
                    $("#upt_success").hide();
                    $("#upt_error").text("Something Went Wrong!");
                    $("#upt_error").show();
                });
                }
            });


            $(document.body).click( function() {
                $("#upt_success").hide();
                $("#upt_error").hide();
                $(".addUser #ins_success").hide();
                $(".addUser #ins_error").hide();
                $("#edit_ins_success").hide();
                $("#edit_ins_error").hide();
            });

        });
    </script>
{% endblock %}